body {
  background-color: black;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 10px 10%;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}

.btn:hover {
  background: #ff004f;
}

.btn.btn2 {
  display: inline-block;
  background: #ff004f;
}

/* WhatsApp Floating Button */
.whatsapp-float {
    position: fixed;
    width: 28px;
    height: 28px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50%;
    padding: 8px;
    margin: 5px;
    text-align: center;
    font-size: 30px;
    z-index: 1000;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    transition: transform 0.3s;
}


.whatsapp-float:hover {
    transform: scale(1.2);
}

/* Scroll-to-top Button */
#scrollTopBtn {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 1000;
    font-size: 22px;
    border: none;
    outline: none;
    background-color: #ff004f;
    color: white;
    cursor: pointer;
    padding: 12px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    transition: transform 0.3s;
}
#scrollTopBtn:hover {
    transform: scale(1.2);
}

#msg {
  color: #61b752;
  margin-top: -40px;
  display: block;
}

.work img {
  transition: transform 0.5s;
}

.work:hover img {
  transform: scale(1.1);
}
