@media only screen and (max-width: 600px) {
  .headeer-text {
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
  }

  #header {
      height: 30vh; 
  }

  #header h1 {
     margin: 5px; 
  }

  #particles-js {
    margin: 10px;
  }
  .whatsapp-float {
    width: 28px;
    height: 28px;
  }

  .headeer-text h1 {
    font-size: 30px;
    margin-top: 35%;
  }

/* RESPONSIVE: Shrink video size for mobile */
  .intro-icons-container {
      /* ADD: Ensure mobile layout is also left-aligned */
      justify-content: flex-start; 
      gap: 15px; /* Reduce gap between videos */
      margin-bottom: 10px; /* Reduce margin on mobile */
  }

  .intro-icon-video, .intro-icon {
      width: 100px; /* Smaller size for mobile screens */
      height: 100px;
      border-radius: 50%;

  }

  nav .fa-solid {
    display: block;
    font-size: 25px;
    color: #fff;
  }

  nav ul {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -500px;
    width: 100px;
    height: 100vh;
    padding-top: 50px;
    margin-top: 0;
    z-index: 2;
    transition: right 0.8s;
  }

  nav ul li {
    display: block;
    margin: 25px;
    margin-left: 0;
  }

  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 38px;
    cursor: pointer;
  }

  .sub-title {
    font-size: 40px;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 {
    margin-bottom: 30px;
  }

  .about-col-2 {
    font-size: 14px;
  }

  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }

  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }

  .copyright {
    font-size: 14px;
    margin: 5px 0 5px 0;
  }
}

@media only screen and (max-width: 768px) {
  .work-list {
    grid-template-columns: 1fr;
  }

    .whatsapp-float {
    width: 28px;
    height: 28px;
  }

}
