@media only screen and (max-width: 600px) {
  .headeer-text {
    margin-top: 100%;
    font-size: 16px;
    color: #fff;
  }

  .whatsapp-float {
    width: 28px;
    height: 28px;
  }

  .headeer-text h1 {
    font-size: 30px;
  }
/* Styling for the Animated Introduction Video (replaces .intro-icon) */
.intro-icon-video {
    width: 80px; /* Slightly larger for better video quality */
    height: 80px;
}
.intro-icon{
    width: 80px;
    height: 80px;
}

.intro-icons-container {
    gap: 10px; /* Space between the videos */
}

  nav .fa-solid {
    display: block;
    font-size: 25px;
    color: #fff;
  }

  nav ul {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -500px;
    width: 100px;
    height: 100vh;
    padding-top: 50px;
    margin-top: 0;
    z-index: 2;
    transition: right 0.8s;
  }

  nav ul li {
    display: block;
    margin: 25px;
    margin-left: 0;
  }

  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 38px;
    cursor: pointer;
  }

  .sub-title {
    font-size: 40px;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 {
    margin-bottom: 30px;
  }

  .about-col-2 {
    font-size: 14px;
  }

  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }

  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }

  .copyright {
    font-size: 14px;
    margin: 5px 0 5px 0;
  }
}

@media only screen and (max-width: 768px) {
  .work-list {
    grid-template-columns: 1fr;
  }

    .whatsapp-float {
    width: 28px;
    height: 28px;
  }

/* Styling for the Animated Introduction Video (replaces .intro-icon) */
.intro-icon-video {
    width: 80px; /* Slightly larger for better video quality */
    height: 80px;
}
.intro-icon{
    width: 80px;
    height: 80px;
}

.intro-icons-container {
    gap: 10px; /* Space between the videos */
}
}
